$headerHeight: 60px;

:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #1b1b1b;
  --error: rgb(228, 46, 1);
  --backgroundColor: #fafafa;
  --heroGradient: linear-gradient(
    90deg,
    #{rgba(#fa3, 0.65)} 0%,
    #{rgba(#f30, 0.65)} 35%,
    #{rgba(#f36, 0.65)} 100%);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  // font-size: 16px;
  color: var(--dark);
}

#root {
  min-height: 100vh;
  background-image: var(--heroGradient);
  position: relative;
  flex-grow: 1;
    &::before {
      content: "";
      background-image: linear-gradient(to bottom, rgba(#fff, 0) 75%, #fff 100%), url("bg.svg");
      max-height: 800px;
      position: absolute;
      background-size: cover;
      background-position: center center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    } 
}

/* Logo Styles Start */
#bars {
  height: 30px;
  position: relative;
  width: 40px;
}

.bar {
 background: #F36;
  bottom: 15px;
  height: 3px;
  position: absolute;
  width: 3px;      
  animation: sound 0ms -800ms linear infinite alternate;
  transform: translateY(50%);
}

@keyframes sound {
  0% {
      height: 4px; 
  }
  100% {       
      height: 28px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

.name {
font-size: 35px;
margin-left: 5px;
}

#fair {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 400;
color: var(--dark);
}

#streem {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 200;
color: var(--dark);
}

header h1 a {
  display: flex;
  align-items: center;
}
/* Logo Styles End */

/* Header/Nav Start*/
header {
  background-color: var(--light);
  height: $headerHeight;
}

nav {
  margin-left: auto;
}

.nav-link {
  margin-right: 20px;
  font-size: 20px;
  list-style-type: none;
  color: var(--dark);
}
/* Header/Nav End*/

.home-page {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
}

/* Hero Start*/
.hero h1 {
  color: black;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
  font-weight: 200;
  margin: auto;
  padding-top: 70px;
  width: 50%;
  text-align: center;
}

.hero h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: auto;
  padding-top: 15px;
  width: 50%;
  text-align: center;
}
/* Hero End */

// Search Start
.search-bar {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 10px;
  width: 50%;
}

.search-bar .MuiInput-input:focus {
  border: none;
  box-shadow: none !important;
}

.genre-menu {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 50px;

  .selected {
    color: white !important;
  }
}

.loader {
  margin: 0 auto;
  display: block !important;

  svg {
    color: white;
  }
}

.no-result {
  margin: auto;
  width: 50%;
  text-align: center;
}
// Search end

// Search Grid start
.grid {
  margin: auto;
  width: 80%;
  padding-bottom: 100px;

  .artist-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// Search Grid End

// Listener Profile Start
.profile {
  border: solid 1px;
  margin: auto;
  width: 50%;
  height: 400px;
  background-color: white;
  border-radius: 5px;

  h1 {
    margin-top: 130px;
    text-align: center;
  }
}

.profile-header {
  display: flex;
  justify-content: center;

  label {
    margin-top: 128px;
    margin-left: 5px;
  }
}
// Listener Profile End

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--dark);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--light);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}